node_modules/
src/
coverage/
yarn-error.log
.vscode/
.DS_Store
codegen.yml
jest.config.json
prettier.config.js
,prettierignore
tsconfig.json
**/*.spec.js
.eslintrc.js
eslint.config.mjs
.pnpm-store
.git
.github
ci
flake.lock
flake.nix
.envrc
tsup.config..ts
typos.toml

